@import "../../App";

// Стили для регистрации
.registrationBox {
  min-width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 8px;

  input{

  }
  .button {
    @include button-style($button-bg-color, $button-hover-bg-color);
  }
}