@import "../../App";

// переменные

.container {
  position: relative;
}

// страница Админа
.dashboardHeader {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .error {
    @extend .error-text;
  }


  .searchPanel {
    display: flex;
    margin-bottom: 20px;

    .searchInput {
      @include input-style($input-border-color);
      flex: 1;
      border-radius: 4px 0 0 4px;
      outline: none;
    }

    .searchButton {
      @include button-style($button-bg-color, $button-hover-bg-color);
      border-radius: 0 4px 4px 0;
      padding: 10px 20px;
    }
  }

  .editUser {
    border: 1px solid $input-border-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    h3 {
      margin-top: 0;
      color: $button-bg-color;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input,
    select {
      @include input-style($input-border-color);
      margin-bottom: 10px;
      width: 100%;
    }

    .buttonGroup {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;

      .button {
        @include button-style($button-bg-color, $button-hover-bg-color);
        padding: 10px;
        font-size: 0.9em;
      }

      .deleteButton {
        @include button-style($button-delete-color, $button-delete-hover-bg-color);
      }
    }
  }
}
.resetPasswordSection {
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  h3 {
    margin-top: 0;
  }

  .resetPasswordInput {
    @include input-style($input-border-color);
    margin-bottom: 10px;
    width: 100%;
  }

  .resetPasswordButton {
    @include button-style($button-bg-color, $button-hover-bg-color);
    padding: 10px;
  }
}

