@import "../../App";

// страница Админа
.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $container-bg-color;
  border-bottom: 2px solid $input-border-color;


  .button {
    @include button-style($button-bg-color, $button-hover-bg-color);
    padding: 10px 20px;
  }
}

.dashboardContent {
  padding: $padding;
  max-width: 1000px;
  margin: 0 auto;

  .error {
    @extend .error-text;
    margin-bottom: 20px;
  }

  .searchUser {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    .searchInput {
      @include input-style($input-border-color);
      flex: 1;
      border-radius: 4px 0 0 4px;
      outline: none;
    }

    .searchButton {
      @include button-style($button-bg-color, $button-hover-bg-color);
      border-radius: 0 4px 4px 0;
      padding: 10px 20px;
    }
  }

  .editUser {
    border: 1px solid $input-border-color;
    padding: $padding;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    h3 {
      margin-top: 0;
      color: $button-bg-color;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input,
    select {
      @include input-style($input-border-color);
      margin-bottom: 10px;
      width: 100%;
    }

    .buttonGroup {
      display: flex;
      gap: 10px;
      margin-top: 10px;

      .button {
        @include button-style($button-step-bg-color, $button-step-hover-bg-color);
        padding: 10px;
        font-size: 0.9em;
      }

      .deleteButton {
        @include button-style($button-delete-color, $button-delete-hover-bg-color);
      }
    }

    .resetPasswordSection {
      margin-top: 20px;

      h3 {
        margin-top: 0;
      }

      .resetPasswordInput {
        @include input-style($input-border-color);
        margin-bottom: 10px;
        width: 100%;
      }

      .resetPasswordButton {
        @include button-style($button-bg-color, $button-hover-bg-color);
        padding: 10px;
      }
    }
  }
}