@import "../../App";
// Стили для панели авторизации
.authBox {
  width: 80vh;

  display: flex;
  flex-direction: column;
  gap: 8px;

  .button {

    @include button-style($button-bg-color, $button-hover-bg-color);
    width: 120px;
    &Block {
      display: flex;
      justify-content: center;
      gap: 8px;
    }
  }
}