// Переменные
$app-bg-color: #98728c; // Цвет фона приложения
$container-bg-color: #fff; // Цвет фона контейнера

$button-bg-color: #9f4186; // Цвет фона кнопки
$button-hover-bg-color: #6e0b55; // Цвет фона кнопки при наведении
$button-goal-bg-color: #0978ec;
$button-goal-hover-bg-color: #0056b3;
$button-step-bg-color: #ac6790;
$button-step-hover-bg-color: #5c0a48;
$button-delete-color: #7c1c65;
$button-delete-hover-bg-color: #5c0a48;

$goal-bg-color: rgba(170, 10, 77, 0.72); // Цвет фона для целей
$step-bg-color: #bfadb8; // Цвет фона для шагов
$input-border-color: #ccc; // Цвет обводки поля ввода
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Тень для контейнера
$border-radius: 8px; // Радиус закругления углов
$padding: 40px; // Внутренний отступ контейнера
$border-goal-color: #bd95b9;
$border-goal-active-color: #fd0b0b;

$border-step-color: #67425d;


// Миксин для кнопок
@mixin button-style($bg-color, $hover-color) {
  background-color: $bg-color;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $hover-color;
  }
}

// Миксин для полей ввода
@mixin input-style($border-color) {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $border-color;
}

// Основной контейнер приложения
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: $app-bg-color;
}

// Внутренний контейнер
.container {
  background: $container-bg-color;
  padding: $padding;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  text-align: center;
  max-width: 100%; // Ограничиваем максимальную ширину контейнера
}

// Кнопка
.button {
  @include button-style($button-bg-color, $button-hover-bg-color);

  &-group {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

// Поля ввода
input, select {
  @include input-style($input-border-color);
}

// Панель поиска
.search-panel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 500px;
  margin: 20px auto;

  &__input {
    @include input-style($input-border-color);
    flex: 1;
    border-radius: 4px 0 0 4px;
    outline: none;
  }

  &__button {
    padding: 10px 20px; // Увеличиваем размер кнопки для соответствия input
    border-radius: 0 4px 4px 0; // Закругленные углы справа
    @include button-style($button-bg-color, $button-hover-bg-color);
  }
}

// Стили для отображения ошибок
.error {
  &-border {
    border: 1px solid red;
  }

  &-text {
    color: red;
  }
}

.warning {
  &-text {
    color: #721c24;

    &__bg {
      background-color: #f8d7da;
    }
  }
}

.logout-container {
  position: absolute;
  right: 2%;
  top: 2%;


  .logout-icon {
    color: $button-bg-color;
    transition: color 0.3s;

    &:hover {
      color: $button-hover-bg-color;
    }
  }

  .logout-warning {
    position: absolute;
    top: 30px;
    right: 0;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 0.9em;
    z-index: 1000;
    white-space: nowrap;
  }
}


