@charset "UTF-8";
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #98728c;
}

.container {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 100%;
}

.button {
  background-color: #0978ec;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #0056b3;
}
.button-group {
  display: flex;
  gap: 20px;
  justify-content: center;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-panel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 500px;
  margin: 20px auto;
}
.search-panel__input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
  border-radius: 4px 0 0 4px;
  outline: none;
}
.search-panel__button {
  background-color: #0978ec;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
  padding: 10px 20px;
  border-radius: 0 4px 4px 0;
}
.search-panel__button:hover {
  background-color: #0056b3;
}

.dashboardBox {
  position: relative;
  width: 50%;
}
.dashboardBox .header {
  display: flex;
  align-items: center;
}
.dashboardBox .dashboardButton {
  background-color: #ac6790;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
  padding: 5px 10px;
  font-size: 0.9em;
  width: 50%;
}
.dashboardBox .dashboardButton:hover {
  background-color: #5c0a48;
}

.goalFormBox {
  border: 2px solid #fd0b0b;
  border-radius: 8px;
  padding: 10px;
}
.goalFormButton {
  background-color: #ac6790;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
  padding: 5px 10px;
  font-size: 0.9em;
}
.goalFormButton:hover {
  background-color: #5c0a48;
}
.goalFormButtonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.goalFormButtonDelete {
  background-color: #7c1c65;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
  padding: 5px 10px;
  font-size: 0.9em;
}
.goalFormButtonDelete:hover {
  background-color: #5c0a48;
}
.goalFormInput {
  width: 80%;
}
.goalFormInputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.goalItem {
  display: block;
  border: 2px solid #bd95b9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
}
.goalItemDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.stepBox {
  padding: 10px;
}
.stepUl {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.stepUlli {
  border: 2px solid #67425d;
  padding-block: 5px;
  border-radius: 8px;
}
.stepFormBox {
  border: 2px solid #fd0b0b;
  border-radius: 8px;
  padding: 10px;
}
.stepFormButton {
  background-color: #ac6790;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
  padding: 5px 10px;
  font-size: 0.9em;
}
.stepFormButton:hover {
  background-color: #5c0a48;
}
.stepFormButtonStatus {
  background-color: #ac6790;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
  padding: 5px 10px;
  font-size: 0.9em;
}
.stepFormButtonStatus:hover {
  background-color: #5c0a48;
}
.stepFormButtonDelete {
  background-color: #7c1c65;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
  padding: 5px 10px;
  font-size: 0.9em;
}
.stepFormButtonDelete:hover {
  background-color: #5c0a48;
}
.stepFormButtonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.stepFormInput {
  width: 80%;
}
.stepFormInputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stepItem {
  display: block;
  border: 2px solid #bd95b9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
}

.auth-box {
  width: 80vh;
}
.auth-box-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registration-box {
  width: 80vh;
}
.registration-box-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error-border {
  border: 1px solid red; /* Красная граница для полей с ошибками */
}
.error-text {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.warning-text {
  color: #721c24;
  font-size: 0.9em;
  margin-top: 5px;
}
.warning-text__bg {
  background-color: #f8d7da;
}

.logout-container {
  position: absolute;
  right: 2%;
  top: 2%;
}
.logout-container .logout-icon {
  color: #0978ec;
  transition: color 0.3s;
}
.logout-container .logout-icon:hover {
  color: #0056b3;
}
.logout-container .logout-warning {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 0.9em;
  z-index: 1000;
  white-space: nowrap;
}

/*# sourceMappingURL=App.css.map */
