@import "../../App";
@import "./goal/Goal";
@import "./step/Step";

$button-goal-bg-color: #0978ec;
$button-goal-hover-bg-color: #0056b3;


.Actions {
  position: absolute;
  right: 8px;
  top: 8px;
}

.dashboardButton {
  padding: 5px 10px;
  font-size: 0.9em;

  //@include button-style($button-step-bg-color, $button-step-hover-bg-color);
}

.container {
  position: relative;
}

.dashboardBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;

  .icon {
    width: 20px;
  }
}




