@import "../../App";
@import "./goal/Goal";
@import "./step/Step";

$button-bg-color: #ac6790;
$button-hover-bg-color: #5c0a48;


.Actions {
  position: absolute;
  right: 8px;
  top: 8px;
}



.container {
  position: relative;
}

.dashboardBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;

  .icon {
    width: 20px;
  }

  .dashboardButton {
    padding: 5px 10px;
    font-size: 0.9em;

    @include button-style($button-bg-color, $button-hover-bg-color);
  }
}




